@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (signInManager.IsSignedIn(User))
    {
        
        <h2>Table of <a href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.entityframeworkcore.identityuser?view=aspnetcore-1.1">IdentityUser</a></h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Id</th>
                    <th>EmailConfirmed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in @userManager.Users)
                {
                    <tr><td>@user.Email</td><td>@user.Id</td><td>@user.EmailConfirmed</td></tr>
                }
            </tbody>
        </table>
    }

</div>
