@*
    expect someting like /Books/Details/1
    access it via Request.RouteValues["id"] or better OnGet(string id)
*@

@page "{id}"
@model WebApplicationRazorLibrary.Pages.Books.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>Id : @Model.Details.Id</p>
<p>Name: @Model.Details.Name</p>
<p>Author : @Model.Details.Author</p>
<p>Pages : @Model.Details.Pages</p>
