@*
    expect someting like /Books/Details/1
    access it via Request.RouteValues["id"] or better OnGet(string id)
*@

@page "{id}"
@model WebApplicationRazorLibrary.Pages.Books.DetailsModel
@{
    ViewData["Title"] = "Details";
}

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Book details
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Details.Name</h5>
            <p>@Model.Details.Author</p>
            <p>
                <span>@Model.Details.Pages</span>
                <span>pages</span>
            </p>
            <p>@Model.Details.Category</p>

        </div>
    </div>
