@page
@model WebApplicationRazorLibrary.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Books";
}

<table class="table table-striped">
    <tbody>

        @foreach (var item in Model.Books)
        {

            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-page="/Books/Details" asp-route-ID=@item.Id class="btn btn-primary">Details</a>
                </td>
                <td>
                    <a asp-page="/Books/Delete" asp-route-ID=@item.Id class="btn btn-primary">Delete</a>
                </td>
                <td>
                    <a asp-page="/Books/Edit" asp-route-ID=@item.Id class="btn btn-primary">Edit</a>
                </td>
            </tr>

        }
    <tbody>
</table>


